


<div class="tab-buttons">
  <button mat-raised-button color="primary" [ngClass]="{'active-tab': activeTab === 'bike'}"
    (click)="toggleTab('bike')">
    Bikes
  </button>

  <button mat-raised-button color="primary" [ngClass]="{'active-tab': activeTab === 'car'}" (click)="toggleTab('car')">
    Cars
  </button>
</div>

<div class="vehicle-count-container">
  <strong *ngIf="activeTab === 'bike'" class="bike-count font">Available Bikes {{ bikesCount }}</strong>
  <strong *ngIf="activeTab === 'car'" class="car-count ml-2 font">Available Cars {{ carsCount }}</strong>
</div>

<!-- <div class="release-buttons">
  <button *ngIf="activeTab === 'bike' && userHasParkedBike()" mat-raised-button color="warn" (click)="releaseBike()">
    Release Bike
  </button>

  <button *ngIf="activeTab === 'car' && userHasParkedCar()" mat-raised-button color="warn" (click)="releaseCar()">
    Release Car
  </button>
</div> -->

<div *ngIf="activeTab === 'bike'" class="slots-container">
  <!-- <h3 class="slot-header">Bike Slots</h3> -->
  <div class="slot-list" *ngFor="let slot of bikeSlots">
    <div [ngClass]="{'occupied': slot.isActive, 'available': !slot.isActive}"
      (click)="!slot.isActive && openSlotDialog(slot)">
      <span class="slot-name">{{ slot.id }}</span>
      <span *ngIf="slot.isActive" class="vehicle-details">
        <strong>{{ slot.vehicleNumber }}</strong>
      </span>
    </div>
  </div>
</div>

<div *ngIf="activeTab === 'car'" class="slots-container">
  <!-- <h3 class="slot-header">Car Slots</h3> -->
  <div class="slot-list" *ngFor="let slot of carSlots">
    <div [ngClass]="{'occupied': slot.isActive, 'available': !slot.isActive}"
      (click)="!slot.isActive && openSlotDialog(slot)">
      <span class="slot-name">{{ slot.id }}</span>
      <span *ngIf="slot.isActive" class="vehicle-details">
        <strong>{{ slot.vehicleNumber }}</strong>
      </span>
    </div>
  </div>
</div>