.font {
  font-size: 25px;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.2s;
}

.disabled {
  pointer-events: none; /* Prevents clicking */
  opacity: 0.5; /* Optional: Dim the slot to indicate it's disabled */
}

.active-tab {
  background-color: #ffcc00 !important; 
  color: black !important;
  transform: scale(1.1); 
  font-weight: bold;
}


.slots-container {
  margin-top: 20px;
}

.slot-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  // justify-items: center;
}

.slot-name {
  font-weight: bold;
  font-size: 18px;
}

.vehicle-details {
  font-size: 14px;
  font-style: italic;
  color: #666;
}

div {
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.occupied {
  background-color: #ffcccb;  /* Light red for occupied */
  color: #333;
}

.available {
  background-color: #d0f0c0;  /* Light green for available */
  color: #333;
}

@media (max-width: 768px) {
  .slot-list {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .slot-name {
    font-size: 16px;
  }

  .vehicle-details {
    font-size: 12px;
  }
}


.slots-container {
  margin-bottom: 20px;
  display: ruby;

  .slot-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); // Auto-fit columns
    grid-auto-flow: column; // Slots will flow in column-wise order
    gap: 10px;
    max-width: 600px; // Adjust width based on the layout
    margin: 0 auto;
  }

  .slot-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    min-height: 50px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }

  .occupied {
    background-color: #ffcc00;
    color: white;
  }

  .available {
    background-color: green;
    color: white;
  }
}
